h1 {
    color: red;
    font-size: 50px;
}

#img img {
    width: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    justify-content: center;
}

.column {
    float: left;
    width: 23%;
}

/*aplicar a formatação responsiva
através de Medias Queries
*/

@media screen and (max-width: 696px) {
    h1 {
        color: green;
        background-color: yellow;
        font-size: 20px;
    }

    body {
        background-color: aqua;
    }

    .row {
        display: inline;
        justify-content: center;
    }

    .column {
        float: left;
        width: 100%;
        margin-bottom: 30px;
    }

    #img img {
        display: none;

    }

}

@media screen and (min-width: 697px) and (max-width: 1024px) {
    h1 {
        color: pink;
        font-size: 50px;
    }

    body {
        background-color: blue;
    }

    .row {
        display: inline;
        justify-content: center;
    }

    .column {
        float: left;
        width: 50%;
        margin-bottom: 30px;
    }

}

@media screen and (min-width: 1024px) {
    h1 {
        color: black;
        font-size: 25px;
    }

    body {
        background-color: chartreuse;
    }

}